/*
 *Name: Grant Barefoot
 *UnityID: gpbarefo
 *Date: 11/9/2024
 *Assignment: Project 4
 *Description: Project 4
 */
 
p {
    font-family: Times;
	font-size: 18px;
	color: #FF0000;
}
.table-border {
    border: 2px solid #000000;
}

.photo-border {
    border: 2px solid #008000;
}


#photo-resize {
    max-width:200px;
	max-height:250px;
}
